:root{
    --color-primario: indigo;
    --linea-style: 10px solid var(--color-primario);
}

body{
    background-color: #1F1F1F;
    user-select: none;
}

h1{
    text-align: center;
    font-size: 4rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--color-primario);
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    color: indigo;
    font-size: 2rem;
    font-weight: normal;
    font-style: normal;
    letter-spacing: 0.5px;
    line-height: 1.5;

}
.botonReiniciar{
    font-family: Arial, Helvetica, sans-serif;
    display: flexbox;
    gap: 10px 10px;
    padding: 10px 20px;
    background-color: #17202AFF;
    border: 3px solid indigo;
    border-radius: 6px;
    cursor: pointer;
    color: indigo;
    transition: background-color 0.1 ease;
    font-size: large;
    text-align: center;
}

.botonReiniciar:hover{
    background-color:indigo;
    color: white;
    text-decoration: blink;
  }

#tablero{
    display: grid;
    grid-template-columns: repeat(3, 0fr);
    justify-content: center;
}

.cuadrado{
    color: var(--color-primario);
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8rem;
    font-weight: bold;

}

.arriba{
    border-bottom: var(--linea-style);
}

.medio{
    border-left: var(--linea-style);
    border-right: var(--linea-style);
}

.abajo{
    border-top: var(--linea-style);
}

.ganador{
    background-color: gray;
}

dialog{
    text-align: center;
    min-width: 50vh;
    background-color: #17202AFF;
    padding: 5rem;
    border: unset;
}